@page
@model Samples.WebApp.Pages.Accounts.DetailsModel
@{
    ViewData["Title"] = "Account details";
}

<h3>Account Details</h3>

<dl class="dl-horizontal">
    <dt>Id</dt>
    <dd>@Model.Account.Id</dd>

    <dt>Name</dt>
    <dd>@Model.Account.Name</dd>

    <dt>Balance</dt>
    <dd>@Model.Account.Balance.ToString("0.00") €</dd>
</dl>

<hr />

<h3>Operations</h3>

<form method="post">
    <span class="text-danger" asp-validation-summary="ModelOnly"></span>

    <div class="form-group">
        <label asp-for="Amount"></label>
        <input asp-for="Amount" class="form-control" />
        <span class="text-danger" asp-validation-for="Amount"></span>
    </div>

    <div class="form-group">
        <label asp-for="Reason"></label>
        <input asp-for="Reason" class="form-control" />
        <span class="text-danger" asp-validation-for="Reason"></span>
    </div>

    <input class="btn btn-success" type="submit" asp-page-handler="Credit" value="Credit" asp-route-id="@Model.Account.Id" />
    <input class="btn btn-danger" type="submit" asp-page-handler="Debit" value="Debit" asp-route-id="@Model.Account.Id" />
</form>


<hr />

<h3>History</h3>

<ol>
    @foreach (var @e in Model.Account.Events)
    {
        <li>@e</li>
    }
</ol>