@page
@model Samples.WebApp.Pages.GiftCards.DetailsModel
@{
    ViewData["Title"] = $"Gift card #{Model.GiftCard.Id}";
}

<h2>@ViewData["Title"]</h2>

<h3>Balance: <strong>@Model.GiftCard.Balance.ToString("0.00") €</strong></h3>

<hr />

<div class="row">
    <div class="col-md-6">
        <h3>Operation</h3>

        <form method="post" class="form">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>

            <div class="form-group">
                <label asp-for="Amount"></label>
                <input asp-for="Amount" class="form-control" />
                <span class="text-danger" asp-validation-for="Amount"></span>
            </div>

            <div class="form-group">
                <label asp-for="Reason"></label>
                <input asp-for="Reason" class="form-control" />
                <span class="text-danger" asp-validation-for="Reason"></span>
            </div>

            <input class="btn btn-danger" type="submit" asp-page-handler="Debit" value="Pay!" asp-route-id="@Model.GiftCard.Id" />
        </form>
    </div>

    <div class="col-md-6">
        <h3>History</h3>

        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Version</th>
                    <th>Time</th>
                    <th>Event</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var @e in Model.GiftCard.Events.OrderByDescending(x => x.AggregateVersion))
                {
                    <tr>
                        <td>@e.AggregateVersion</td>
                        <td>@e.DateTime</td>
                        <td>@e</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

